html {
    height: 100%;
    width: 100%;
  }
  
  * {
    margin: 0;
    padding: 0;
  }
  
  .container {
    background: url(https://free4kwallpapers.com/uploads/originals/2015/05/14/abstract-clock.jpg) no-repeat;
    background-size: cover;
    height: 100vh;
    width: 100%;
    display: flex;
    background-position: center;
    justify-content: center;
    align-items: center;
  }
  
  .container2 {
    position: relative;
    margin: 50px;
    height: 400px;
    width: 950px;
    background: rgba(255, 255, 255, .1);
    box-shadow: 0px 3px 15px rgba(0, 0, 0, .8);
    background-size: cover;
    border: 1px solid #181616;
    border-top-left-radius: 20px;
    border-bottom-right-radius: 20px;
    padding: 85px;
  }
  
  h1 {
    font-family: 'Rubik', sans-serif;
    text-align: center;
    color: #5927e5;
    /* color: blue; */
    font-size: 57px;
    font-weight: 900;
    margin-top: -60px;
    text-shadow: 0px 3px 3px #301971;
  }
  
  #time {
    background-color: black;
    color: #1dc31d;
    font-size: 4.5rem;
    margin: 30px auto 8px auto;
    text-align: center;
    border: 1px solid black;
    border-radius: 20px;
    font-family: 'Orbitron', sans-serif;
    text-shadow: 2px 3px 3px #1d531d;
  }
  
  #date {
    text-align: center;
    letter-spacing: 3px;
    font-size: 32px;
    font-family: arial, sans-serif;
    color: #000;
    font-weight: 810;
    margin-top: 20px;
    text-shadow: 0px 1px 1px #1d1b1b;
  }
  
  .span {
    font-family: 'Courier New', Courier, sans-serif;
    padding-top: 15px;
    padding-bottom: 15px;
    margin-top: 34px;
    text-align: center;
    color: purple;
    font-weight: 999;
    font-size: 52px;
    background: rgba(255, 255, 255, .2);
    border-top-left-radius: 10px;
    border-bottom-right-radius: 10px;
    text-shadow: 2px 3px 3px #301230;
    box-shadow: 0px 3px 15px rgba(0, 0, 0, .7);
  }
  
  footer {
    text-align: center;
    color: #8ba3a9;
    font-family: 'Inconsolata', monospace;
    font-weight: 560;
    margin-top: 44px;
    font-size: 42px;
    margin-left: 614px;
    background: rgba(0, 0, 0, .6);
    padding: 8px;
    border-top-left-radius: 10px;
    border-bottom-right-radius: 10px;
    text-shadow: 2px 3px 3px #374548;
    box-shadow: 0px 3px 15px rgba(255, 255, 255, .8);
  }